* {
    color: white;
    font-weight: 800;
    font-style: italic;
}

#contenedorJuego {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 80vh;
    width: 100%;
}

#contenedorPuntos {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

#botonPuntos {
    margin-top: 80px;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: #0FBF59;
    letter-spacing: 1.5px;
    font-size: 25px;
    box-shadow: #0E9E4A 0px 7px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#botonPuntos:active {
    box-shadow: #0E9E4A 0px 4px 0px 0px;
    transform: translateY(2px);
}

#botonJuego {
    width: 300px;
    height: 300px;
    display: inline-block;
    padding: 40px 40px;
    
    cursor: pointer;
    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    background-color: #e60000;
    box-shadow: 0 8px #b30000;
}

#botonJuego:active {
  box-shadow: 0 4px #b30000;
  transform: translateY(4px);
}

#contador {
    /* display: flex;
    flex-direction: row; */
    /* margin-top: 30px; */
    width: 300px;
    margin-left: 100px;
    font-size: 250px;
    text-align: right;
}